<!doctype html>
<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>
    <body>
         <ul class="nav nav-tabs">
           <li class="active"><a href="/index">Refunded</a></li>
           <li><a href="/damaged">Damaged</a></li>
         </ul>
        <div class="container">
             <div class="page-header">
                <h1>Products Refunded but Not Returned</h1>      
             </div>
             <div class="jumbotron table-responsive">
                <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                                <td class="col-md-1">Order ID</td>
                                <td class="col-md-1">Date</td>
                                <td class="col-md-1">Transaction Type</td>
                                <td class="col-md-1">Payment Type</td>
                                <td class="col-md-1">Amount</td>
                                <td class="col-md-1">Quantity</td>
                                <td class="col-md-1">Title</td>
                        </thead>
                        {% for row in rows %}
                            <tr>
                                <td>{{row["id"]}}</td>
                                <td>{{row["date"]}}</td>
                                <td>{{row["trans"]}}</td>
                                <td>{{row["paytype"]}}</td>
                                <td>{{row["amount"]}}</td>
                                <td>{{row["quantity"]}}</td>
                                <td>{{row["title"]}}</td>
                            </tr>
                        {% endfor %}
                </table>
             </div>
        </div>
    </body>
</html>
