<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<table class="table">
  <thead>
    <tr>
      <th class="col-md-3">Invoice</th>
      <th class="col-md-3">Date</th>
      <th class="col-md-3">Amount</th>
      <th class="col-md-3">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>12345</td>
      <td>Feb 1, 2014</td>
      <td>$45.00</td>
      <td>Owing</td>
    </tr>
    <tr>
      <td>67890</td>
      <td>Jan 30, 2014</td>
      <td>$19.99</td>
      <td>Overdue</td>
    </tr>
  </tbody>
</table>
